html{height: 100%;}

table{
	border-collapse: collapse;
	width: 100%;
	color: ;
	font-family: Consolas;
	font-size: 30px;
	text-align: left;
	}
	th{
		background-color: #9561e2;
		color: white;
		}
		}
 
